<!-- Sección Hero -->
<div class="hero-section">
    <h1>Productos Detalle | LaDorada</h1>
</div>
<hr>
<div class="container my-5 p-5 bg-dark" *ngIf="producto">
    <div class="row">
        <!-- Imagen del Producto -->
        <div class="col-md-6">
            <img [src]="producto.imagenPrincipalUrl" class="img-fluid rounded">
        </div>

        <!-- Información del Producto -->
        <div class="col-md-6">
            <h2 class="text-gold">{{ producto.nombreProducto }}</h2>
            <p class="text-white"><strong>Categoría:</strong> {{ producto.nombreCategoria }}</p>
            <p class="text-white"><strong>Marca:</strong> {{ producto.nombreMarca }}</p>
            <p class="text-white"><strong>Descripción:</strong> {{ producto.descripcionDetallada }}</p>
            <p class="text-white"><strong>Precio:</strong> S/ {{ producto.precio.toFixed(2) }}</p>
            <img class="img-fluid" src="imgs/certificaciones.jpg">
            <!-- Botón para agregar al carrito -->
            <button class="btn btn-gold w-100 mt-3" (click)="agregarAlCarrito()">Agregar al Carrito</button>
        </div>
    </div>
</div>

<!-- Si el producto no se encuentra -->
<div *ngIf="!producto" class="text-center text-white my-5 p-5 bg-dark">
    <h3>Producto no encontrado</h3>
</div>
